$color_titles: #2C3E50;
$color_background: #d0ddf1;

@import url("https://fonts.googleapis.com/css?family=Margarine:400,700|Open+Sans:100,300,400");

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background: $color_background;
    color: $color_titles;
}

h1 {
    font-family: 'Margarine', sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color_titles;
    margin-bottom: 20px;
    margin-top: 20px;
}

img{
    padding-bottom: 15px;
}

h2{
    font-family: 'Margarine', sans-serif;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 400;
    color: $color_titles;
    margin-top: 10px;
}

h3{
    font-family: 'Margarine', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: $color_titles;
    margin-top: 10px;
}

#homePage{
    text-align: justify;
    
}
