{% extends 'base.html.twig' %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg col-xs text-center">
        <h1>Welcome to my Symfony 4 Blog</h1>
        
      <img src="{{ asset('build/Me.png') }}" class="mx-auto d-block">

    </div>
    
    <div class="col-lg-12 col-xs-12 text-center">
      <p>
        Hi. I am an italian Web Developer. This site is an example of Blog
        developed with Symfony 4. 
      </p>
    </div>

    <div class="col-lg-6 offset-lg-3">
      <h3 id="technologies">Technologies and bundles used in this project</h3>
      <ul>
        <li>Symfony 4</li>
        <li>PHP</li>
        <li>Doctrine</li>
        <li>mysql</li>
        <li>Composer</li>
        <li>Yarn</li>
        <li>Twig</li>
        <li>Sonata Admin Bundle</li>
        <li>Webpack Encore Bundle</li>
        <li>Doctrine fixtures bundle</li>
        <li>Symfony security bundle</li>
        <li>CKEditor</li>
        <li>Bootstrap</li>
        <li>and more ...</li>
      </ul>
      <p><small>N.B. All images are charged randomly from lorempixel.com.</small></p>
    </div>
  </div>
  

  <div class="container" id="homePage">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2>What you should know about this project:</h2>

        <h3 id="routes">Routes</h3>
        <ul>
          <li><p>/ : this page is the homepage.</p></li>
          <li><p>/blog : a page with a list of all articles</p></li>
          <li><p>/blog/new: a page to create a new article</p></li>
          <li>
            <p>blog/{id_article} : a page with an article and his comments</p>
          </li>
          <li><p>blog/{id_article}/edit: a page to edit an article</p></li>
          <li><p>/connexion: a page to login to the site</p></li>
          <li><p>/registration: a page to subscribe</p></li>
          <li>
            <p>
              /admin : a page with a panel from Sonata bundle that permit to
              administrate articles, comments, and categories
            </p>
          </li>
        </ul>

        <h3 id="entities">Database entities</h3>
        <ul>
          <li>user_account (<strong>id</strong>, email, username, password)</li>
          <li>
            article(<strong>id</strong>, category_id, title, content, image,
            created_at)
          </li>
          <li>category(<strong>id</strong>, title, description)</li>
          <li>
            comment(<strong>id</strong>, article_id, author, content,
            created_at)
          </li>
        </ul>

        <h3 id="progress">Work Progress</h3>
        <p>
          Actually with login it is possible to visualize differents buttons and
          public comments but all users have the same role 'ROLE_USER'. All
          users can use Sonata admin dashboard or create/edit contents of articles and
          categories using CKEditor. Different authorizations for different roles with secure
          authentication COMING SOON
        </p>
      </div>
    </div>
  </div>
</div>
<hr />

{% endblock %}
