{% extends 'base.html.twig' %}

{% block body %}
<h1>Wellcome to my Blog </h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis et optio voluptas odit iusto, animi illum est explicabo sint deserunt aliquid cum praesentium? Quas qui officiis aliquid repellat voluptatem voluptatum ab enim? Ad corrupti impedit maiores optio ipsum magni iure.</p>
<p>Beatae hic sequi ullam aut veniam dolorem omnis dolorum iure alias, optio commodi! Quos consectetur ut corrupti fugiat officiis! Cupiditate reiciendis, quis repellendus ad, tenetur perspiciatis beatae fuga qui reprehenderit, quam expedita consequuntur commodi eveniet quas nemo atque dolore exercitationem!</p>
{% endblock %}