{% extends "base.html.twig" %}

{% block body %}
<article>
        <h2>Title of the article</h2>
        <div class="metadata">Wrote 10/05/2018 in the category Nature</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Nesciunt mollitia delectus a ab eligendi odio, repudiandae deleniti? Eius eum doloribus odit odio nesciunt.</p>
            <p>Laboriosam alias dolores soluta fugiat animi placeat maxime eligendi tenetur non, harum repellat perspiciatis reiciendis!</p>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quae impedit consequuntur nam ratione laudantium excepturi praesentium, blanditiis deleniti molestias possimus quam ducimus voluptate a magnam molestiae nobis modi? Soluta beatae fuga, impedit a, rerum id atque iure eum eveniet minus consectetur possimus exercitationem voluptate perspiciatis? Et odit dolor quam.</p>
            <p>Laborum dolorum cumque rem, accusamus quas suscipit quidem, esse quo sapiente accusantium repudiandae nulla veniam temporibus, hic nisi voluptatem veritatis ipsa assumenda ipsum deleniti doloremque ducimus impedit. Corporis voluptas nesciunt doloremque excepturi recusandae error magni quaerat atque debitis, ipsum consequatur. Necessitatibus accusamus inventore commodi illum, eligendi velit cumque possimus minima?</p>
        </div>
    </article>
{% endblock body %}